:root {
  --color-font1: #000;
}

.modal_layer_popup {
  display: flex;
  align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;
  transition-delay: 0.3s;
}
.modal_layer_popup.active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.1s linear;
}
.modal_layer_popup.active .layer_content_wrap {
  transform: translateY(0);
}
.modal_layer_popup .dimmed_layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal_layer_popup .layer_content_wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 0;
  max-width: 768px;
  max-height: calc(100% - 44px);
  transform: translateY(100%);
  transition: 0.5s ease;
  margin: 0 auto;
  padding: 78px 0 60px;
  border-radius: 10px 10px 0 0;
  background: #fff;
  box-sizing: border-box;
}
.modal_layer_popup .layer_content_wrap .layer_content {
  flex: 1;
  font-size: 16px;
  background: #fff;
  padding: 0 6px 0 20px;
  overflow-y: scroll;
}
.modal_layer_popup .layer_content_wrap .layer_content::-webkit-scrollbar {
  width: 14px;
}
.modal_layer_popup .layer_content_wrap .layer_content::-webkit-scrollbar-thumb {
  background: #000;
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 12px;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_header {
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 999;
  width: calc(100% - 20px);
  background: #fff;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_header h1 {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_header h1 + p {
  margin-top: 24px;
  font-size: 16px;
  color: #777;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_header h1 span {
  padding-left: 5px;
  font-size: 15px;
  font-weight: 800;
  color: #667085;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_body {
  padding: 0 0 24px;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_body h2 {
  font-size: 18px;
  font-weight: 800;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_body h3 {
  font-size: 16px;
  font-weight: 800;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_body .profile_wrap {
  padding: 0;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.modal_layer_popup .layer_content_wrap .layer_content .layer_footer .btn_dialog {
  height: 100%;
}
.modal_layer_popup .layer_content_wrap .layer_close {
  position: absolute;
  top: 42px;
  right: 32px;
  z-index: 999;
  width: 24px;
  height: 24px;
  background: #000;
  font-size: 0;
  line-height: 0;
}
.modal_layer_popup .layer_content_wrap .layer_drag {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  cursor: grab;
  user-select: none;
}
.modal_layer_popup .layer_content_wrap .layer_drag span {
  display: block;
  width: 64px;
  height: 6px;
  background: #D0D5DD;
  border-radius: 3px;
}
.modal_layer_popup.dragging .layer_content_wrap {
  transition: none;
}
.modal_layer_popup.dragging .layer_content_wrap .layer_drag {
  cursor: grabbing;
}
.modal_layer_popup.fullPage .layer_content_wrap {
  max-height: 100%;
  padding-top: 88px;
  border-radius: 0;
}
.modal_layer_popup.fullPage .layer_content_wrap .layer_content .layer_header {
  top: 40px;
}
.modal_layer_popup.fullPage .layer_content_wrap .layer_close {
  top: 40px;
}
.modal_layer_popup.fullPage .layer_content_wrap .layer_drag {
  display: none;
}
.modal_layer_popup.height_auto .layer_content_wrap {
  max-height: 100%;
  height: auto;
  border-radius: 0;
  padding-top: 88px;
}
.modal_layer_popup.height_auto .layer_content_wrap .layer_content .layer_header {
  top: 40px;
}
.modal_layer_popup.height_auto .layer_content_wrap .layer_close {
  top: 40px;
}
.modal_layer_popup.height_auto .layer_content_wrap .layer_drag {
  display: none;
}
.modal_layer_popup.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition-delay: 0.2s;
}
.modal_layer_popup.align_center.active {
  transition-delay: 0s;
}
.modal_layer_popup.align_center.active .layer_content_wrap {
  transform: translateY(0);
  opacity: 1;
}
.modal_layer_popup.align_center .layer_content_wrap {
  transform: translateY(40px);
  opacity: 0;
  max-width: 360px;
  height: auto;
  margin: 0 30px;
  padding: 0 0 60px;
  border-radius: 0;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 30px 0;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_header {
  position: static;
  width: 100%;
  padding: 0 20px;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_header h1 {
  padding-bottom: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 800;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_body {
  padding: 0 0px 0 20px;
  overflow-y: scroll;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_body::-webkit-scrollbar {
  width: 20px;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_body::-webkit-scrollbar-thumb {
  background: #000;
  border: 8px solid transparent;
  background-clip: padding-box;
  border-radius: 12px;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_body .popup_visual img {
  display: block;
  width: 100%;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_body .popup_sub_txt {
  font-size: 16px;
  color: #555;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_content .layer_footer {
  height: 60px;
}
.modal_layer_popup.align_center .layer_content_wrap .layer_close {
  top: 30px;
}
.modal_layer_popup.hide_footer .layer_content_wrap {
  padding-bottom: 0;
}
.modal_layer_popup.hide_footer .layer_content_wrap .layer_content .layer_footer {
  display: none;
}

.toast_popup_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s linear, transform 0.8s;
  transition-delay: 0s, 0.1s;
}
.toast_popup_wrap.active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.6s linear, transform 0.6s;
  transition-delay: 0.1s, 0s;
}
.toast_popup_wrap .inner {
  margin: 0 20px 20px;
  padding: 15px;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.btn_dialog {
  display: flex;
  height: 70px;
}
.btn_dialog button {
  flex: 1;
  height: 100%;
  background: #000;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
}
.btn_dialog button + button {
  margin-left: 10px;
}
.btn_dialog.align_right {
  padding: 0 10px 0 20px;
  justify-content: right;
}
.btn_dialog.align_right button {
  flex: none;
  padding: 0 10px;
  background: none;
  border: 0 none;
  color: #000;
}
.btn_dialog.align_right button.btn_confirm {
  color: red;
}

.design_select {
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 100;
  min-width: 120px;
  height: 34px;
  padding: 10px;
  border: 1px solid #000;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  user-select: none;
}
.design_select > .selected {
  flex: 1;
}
.design_select > .selected span {
  display: block;
  position: relative;
  padding-right: 20px;
  font-size: 13px;
  font-weight: 800;
  color: #000;
}
.design_select > .selected span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: #000;
  background-size: 100%;
}
.design_select > .optionList {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  min-width: 120px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #000;
}
.design_select > .optionList > li {
  display: flex;
  align-items: center;
  height: 34px;
  padding: 10px;
}
.design_select > .optionList > li span {
  position: relative;
  display: block;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}
.design_select > .optionList > li + li {
  border-top: 1px solid #000;
}
.design_select.active > .selected span:after {
  background: red;
}
.design_select.active > .optionList {
  display: block;
}
.design_select.active > .optionList > li.select span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: #000;
  background-size: 100%;
}

.design_radio > li + li {
  margin-top: 10px;
}
.design_radio > li > input {
  display: none;
}
.design_radio > li > input + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.design_radio > li > input + label:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 100;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.design_radio > li > input + label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}
.design_radio > li > input:checked + label {
  color: red;
}
.design_radio > li > input:checked + label:after {
  background-color: red;
}

.design_checkbox input {
  display: none;
}
.design_checkbox input:checked + label:after {
  background: red;
}
.design_checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.design_checkbox label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #000;
}

.inpchk_ani {
  display: inline-block;
  width: 48px;
  height: 28px;
}
.inpchk_ani input {
  display: none;
}
.inpchk_ani input:checked + label {
  background: red;
}
.inpchk_ani input:checked + label span {
  left: calc(100% - 26px);
}
.inpchk_ani label {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 14px;
  background: #CCC;
  transition: background 0.3s;
}
.inpchk_ani label span {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 3px;
  left: 4px;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  transition: left 0.3s;
}

.marquee_element {
  overflow: hidden;
  background: #000;
  display: flex;
  align-items: center;
  height: 36px;
}
.marquee_element p {
  font-size: 13px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
}

.animation_count_down {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.animation_count_down p {
  font-size: 110px;
  font-weight: 800;
  color: #fff;
  line-height: 1;
}
.animation_count_down p.active {
  animation: countAni 1s forwards;
}
.animation_count_down.active {
  opacity: 1;
  pointer-events: auto;
}

.animation_counter {
  font-size: 20px;
  font-weight: 700;
}

.bull_list > li {
  position: relative;
  padding-left: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.bull_list > li:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  background: #000;
}
.bull_list > li + li {
  margin-top: 8px;
}

.tab_menu_wrap .tab_title {
  display: flex;
  align-items: center;
}
.tab_menu_wrap .tab_title > li {
  border: 1px solid #000;
  padding: 5px 10px;
}
.tab_menu_wrap .tab_title > li + li {
  margin-left: 10px;
}
.tab_menu_wrap .tab_title > li > a {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.tab_menu_wrap .tab_title > li.active a {
  color: red;
}
.tab_menu_wrap .tab_content > div {
  margin-top: 5px;
  padding: 10px;
  min-height: 100px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 30px;
  font-weight: 700;
}
.tab_menu_wrap .tab_content > div.active {
  display: flex;
}