@import "animation.css";
@import "common.css";
#wrap {
  padding: 10px 20px 200px;
}
#wrap #content > div > h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
#wrap #content > div + div {
  margin-top: 40px;
  padding-top: 39px;
  border-top: 2px dashed #000;
}
#wrap .btn_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#wrap .btn_grid button {
  padding: 6px 12px;
  border-radius: 4px;
  background: #000;
  color: #fff;
}
#wrap .design_select + .design_select {
  margin-left: 10px;
}