@import "animation.css";
@import "common.css";


#wrap {
  padding: 10px 20px 200px;
  #content {
    > div {
      > h2 {
        margin-bottom: 10px;
        font-size: 24px;
      }
      & + div {
        margin-top: 40px;
        padding-top: 39px;
        border-top: 2px dashed #000;
      }
    }
  }
  .btn_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    button {
      padding: 6px 12px;
      border-radius: 4px;
      background: #000;
      color: #fff;
    }
  }
  .design_select + .design_select {
    margin-left: 10px;
  }
}
